{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {{ parent() }}
{% endblock %}


{% block body %}
<div id="interfaceAdmin">
    <div id="adventureId" data-id="{{ cityAdventure.id }}">{{ cityAdventure.id }}</div>
    <a href="{{ path('adminInterface') }}"><< Retour</a><br/><br/>


    <div>
        {% for message in app.session.flashbag.get('notice') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <div>
        <div>
            {{ form_start(form) }}

            {{ form_errors(form) }}
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md">
                            {{ form_row(form.adventureName) }}
                        </div>
                        <div class="col-md">
                            {{ form_row(form.adventureTown) }}
                        </div>
                        <div class="col-md">
                            {{ form_row(form.adventureDuration) }}
                        </div>
                    </div>

                    <div class="row descriptionAdventRow200">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.adventurePictureFilename) }}
                                {% if cityAdventure.adventurePictureFilename %}
                                    <div>
                                        <img src="{{ imgUploadDir ~ cityAdventure.adventurePictureFilename }}" alt="" />
                                    </div>
                                {% endif %}
                                {{ form_widget(form.adventurePictureFilename) }}

                                <small>{{ form_help(form.adventurePictureFilename) }}</small>

                                <div class="form-error">
                                    {{ form_errors(form.adventurePictureFilename) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {{ form_row(form.adventureDescription) }}
                        </div>
                    </div>

                    {# form_row(form.adventurePictureFilename) #}

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.videoAdventureIntroFilename) }}
                                {% if cityAdventure.videoAdventureIntroFilename %}
                                    <div>
                                        <video controls width="300" autoplay="true" muted="true">

                                            <source src="{{ imgUploadDir ~ cityAdventure.videoAdventureIntroFilename }}"
                                                    type="video/webm">

                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    </div>
                                {% endif %}
                                {{ form_widget(form.videoAdventureIntroFilename) }}

                                <small>{{ form_help(form.videoAdventureIntroFilename) }}</small>

                                <div class="form-error">
                                    {{ form_errors(form.videoAdventureIntroFilename) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.videoLastEnigmaFilename) }}
                                {% if cityAdventure.videoLastEnigmaFilename %}
                                    <div>
                                        <video controls width="300" autoplay="true" muted="true">

                                            <source src="{{ imgUploadDir ~ cityAdventure.videoLastEnigmaFilename }}"
                                                    type="video/webm">

                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    </div>
                                {% endif %}
                                {{ form_widget(form.videoLastEnigmaFilename) }}

                                <small>{{ form_help(form.videoLastEnigmaFilename) }}</small>

                                <div class="form-error">
                                    {{ form_errors(form.videoLastEnigmaFilename) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.videoFinalSequenceFilename) }}
                                {% if cityAdventure.videoFinalSequenceFilename %}
                                    <div>
                                        <video controls width="300" autoplay="true" muted="true">

                                            <source src="{{ imgUploadDir ~ cityAdventure.videoFinalSequenceFilename }}"
                                                    type="video/webm">

                                            Sorry, your browser doesn't support embedded videos.
                                        </video>
                                    </div>
                                {% endif %}
                                {{ form_widget(form.videoFinalSequenceFilename) }}

                                <small>{{ form_help(form.videoFinalSequenceFilename) }}</small>

                                <div class="form-error">
                                    {{ form_errors(form.videoFinalSequenceFilename) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {# form_row(form.videoAdventureIntroFilename) #}

                    {# form_row(form.videoLastEnigmaFilename) #}

                    <div class="row descriptionAdventRow100">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.lastEnigmaPictureFilename) }}
                                {% if cityAdventure.lastEnigmaPictureFilename %}
                                    <div>
                                        <img src="{{ imgUploadDir ~ cityAdventure.lastEnigmaPictureFilename }}" alt="" />
                                    </div>
                                {% endif %}
                                {{ form_widget(form.lastEnigmaPictureFilename) }}

                                <small>{{ form_help(form.lastEnigmaPictureFilename) }}</small>

                                <div class="form-group">
                                    {{ form_errors(form.lastEnigmaPictureFilename) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {{ form_row(form.lastEnigmaQuestionText) }}
                            {{ form_row(form.lastEnigmaExpectedAnswer) }}
                        </div>
                    </div>

                    {# form_row(form.lastEnigmaPictureFilename) #}

                    {# form_row(form.videoFinalSequenceFilename) #}

                </div>
            </div>

            {{ form_row(form.enygmaLoops) }}
        </div>
    </div>
    <div>
        <a href="#" id="add_enigme" class="btn btn-outline-secondary btn-sm">Ajouter une enigme</a>
    </div>
    <div>
        <div>

            {{ form_rest(form) }}

            <input type="submit" value="Enregistrer l'aventure">

            {{ form_end(form) }}
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/admin/adminJS.js') }}"></script>
{% endblock %}