{% extends "base.html.twig" %}

{% block body %}
<div id="interfaceAdmin">
    <p>Admin interface <a href="{{ path('logout_admin') }}">Logout</a></p><br/>
    <a href="{{ path('adminCitygmaAdventureEdit', {}) }}">Créer une nouvelle aventure</a><br/><br/>

    <p>Aventures existantes :</p>

    {% for citygmaAdventure in citygmaAdventures %}
        <p>
            {{ citygmaAdventure.adventureTown }} :
            <a href="{{ path('adminCitygmaAdventureEdit', { 'id': citygmaAdventure.id }) }}">Modifier</a>
            <a href="{{ path('adminCitygmaAdventureDelete', { 'id': citygmaAdventure.id }) }}">Supprimer</a>
        </p>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}{% endblock %}