{% extends "base.html.twig" %}

{% block body %}

    <div id="adventureId" data-id="{{ cityAdventure.id }}">{{ cityAdventure.id }}</div>


    <div>
        {% for message in app.session.flashbag.get('notice') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <div>
        <div>
            {{ form_start(form) }}

            {{ form_errors(form) }}
            <div>

                {{ form_row(form.adventureName) }}

                {{ form_row(form.adventureTown) }}

                {{ form_row(form.adventurePictureFilename) }}
                {% if cityAdventure.adventurePictureFilename %}
                    <img src="{{ imgUploadDir ~ cityAdventure.adventurePictureFilename }}" alt="" />
                {% endif %}

                {{ form_row(form.adventureDuration) }}

                {{ form_row(form.adventureDescription) }}

                {{ form_row(form.videoAdventureIntroFilename) }}
                {% if cityAdventure.videoAdventureIntroFilename %}
                    <video controls width="300" autoplay="true" muted="true">

                        <source src="{{ imgUploadDir ~ cityAdventure.videoAdventureIntroFilename }}"
                                type="video/mp4">

                        Sorry, your browser doesn't support embedded videos.
                    </video>
                {% endif %}

                {{ form_row(form.videoLastEnigmaFilename) }}
                {% if cityAdventure.videoLastEnigmaFilename %}
                    <video controls width="300" autoplay="true" muted="true">

                        <source src="{{ imgUploadDir ~ cityAdventure.videoLastEnigmaFilename }}"
                                type="video/mpeg">

                        Sorry, your browser doesn't support embedded videos.
                    </video>
                {% endif %}

                {{ form_row(form.lastEnigmaPictureFilename) }}
                {% if cityAdventure.lastEnigmaPictureFilename %}
                    <img src="{{ imgUploadDir ~ cityAdventure.lastEnigmaPictureFilename }}" alt="" />
                {% endif %}

                {{ form_row(form.lastEnigmaQuestionText) }}

                {{ form_row(form.lastEnigmaExpectedAnswer) }}

                {{ form_row(form.videoFinalSequenceFilename) }}
                {% if cityAdventure.videoFinalSequenceFilename %}
                    <video controls width="300" autoplay="true" muted="true">

                        <source src="{{ imgUploadDir ~ cityAdventure.videoFinalSequenceFilename }}"
                                type="video/mpeg">

                        Sorry, your browser doesn't support embedded videos.
                    </video>
                {% endif %}

            </div>

            {{ form_row(form.enygmaLoops) }}
        </div>
    </div>
    <div>
        <a href="#" id="add_enigme" class="btn btn-outline-secondary btn-sm">Ajouter une enigme</a>
    </div>
    <div>
        <div>

            {{ form_rest(form) }}

            <input type="submit" value="Enregistrer l'aventure">

            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/admin/adminJS.js') }}"></script>
{% endblock %}